// bower:scss
// endbower
$base-font-size: 20px;
$base-line-height: 28px;

$relative-font-sizing: false;

$total-cols: 12;
$col-width: 60px;

$tablet-size: 1024px;
$mobile-size: 310px;

@import "compass/typography/vertical_rhythm";
@import "compass/reset";
@import 'susy';
@import 'breakpoint';

$susy: (
  columns: 12,
  gutters: .25,
  debug: (image: show, output: overlay, toggle: top right)
);

@import 'partials/color';
@import 'partials/fonts';

@import 'partials/header';
@import 'partials/features';
@import 'partials/products';
@import 'partials/footer';

@include establish-baseline;

body {
  font-family: 'Droid Serif', serif;
  color: $primaryText;
}

.container {
  @include container(840px);
  @include breakpoint($tablet-size) {
    @include container(940px);
  }
}

button {
  @include rhythm(1, 0, 0, 1, $button-font-size);
  border: 0px outset ;
  cursor: pointer;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
