// bower:scss
// endbower
$base-font-size: 14px;
$base-line-height: 28px;

$relative-font-sizing: false;

$total-cols: 12;
$col-width: 60px;

@import "compass/typography/vertical_rhythm";
@import "compass/reset";
@import 'susy';

$susy: (
  columns: 12,
  gutters: .25,
  debug: (image: show, output: overlay, toggle: top right)
);

@import 'partials/color';
@import 'partials/fonts';

@import 'partials/header';
@import 'partials/features';
@import 'partials/footer';

@include establish-baseline;

body {
  font-family: 'Droid Serif', serif;
  color: $primaryText;
}

.container {
  @include container(940px);
}

