$primaryColor: #3f51b5;
$lightPrimaryColor: #c5cae9;
$icon: #fff;
$accentBlue: #03a9f4;
$primaryText: #333;
$secondaryText: #727272;
$dividerColor: #B6B6B6;

.box-blue {
  background: blue
}

.box-orange {
  background: orange
}

.box-red {
  background: red
}

.box-green {
  background: green
}

.box-yellow {
  background: yellow
}
