.footer {
  padding-top: rhythm(3);
  display: block;
  background: $lightPrimaryColor;
  color: white;

  p {
    text-align: center
  }

  .testimonial {
    text-align: center;
    background: $icon; 
    width: span(4);
    margin-right: gutter();
    float: left;
    color: $primaryText;
    @include rhythm(0, 2, 2, 0, 28px);

    &:last-child {
      margin-right: 0;
    }
  }

  .avatar {
    margin-top: 2em;
    border-radius: 74px;
    border: $accentBlue 10px solid;
  }

  h3 {
    margin-top: 1em;
  }

  h4 {
    font-style: italic;
    margin-bottom: 1em;
    font-weight: bold;
  }
 
  h2 {
    padding-bottom: rhythm(1);
  }

  p {
    color: $secondaryText;
  }
}
