.header {
  display: block;
  color: white;

  padding-top: rhythm(5);
  padding-bottom: rhythm(1);

  p {
    text-align: center;
    color: $lightPrimaryColor;
    padding-bottom: rhythm(1);
  }

  button {
    background-color: $accentBlue;
    color: white;
    &:hover {
      background-color: $lightPrimaryColor;
    }
  }
}
