.products-section {
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  background: $secondaryText; 
}
.products {
  clear: both;
}

.product-two {
  width: span(6);
  margin-right: gutter();
  float: left;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}
.product-three {
  width: span(4);
  margin-right: gutter();
  float: left;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.product-container {
  background: red;
  width: 100%;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  margin-top: rhythm(1);
  margin-bottom: rhythm(1);
}
