.header {
  display: block;
  background: #3f51b5;
  color: white;
  @include rhythm(0, 2, 1, 0, 28px);

  p {
    text-align: center;
    @include rhythm(0, 1, 1, 0, 28px);
  }

  button {
    border: 1px outset $accentBlue;
    background-color: $accentBlue;
    cursor: pointer;
    color: white;
    height: 2em;
  }

  button:hover {
    background-color: blue;
    color: white;
  }
}
