<div class="container">
<h2>Our products are awesome!</h2>
<div class="products">
  <div class="product-container product-two box-orange">
    <div class="icon">
      <img src="/images/product1-white.png"></img>
    </div>
    <div class="product-text">
      <h3>product 1</h3>
      <p>Dit is eenjsdlfkasjdfksdflkasjdflkajsdflkjasdflkjasd fs ajdlkf jsadlkfj aslkdfj  mooie tekst. Ik heb zin in bananen. witte en rode.... radijsjes... bananen.. chinees. frikand aksjdlaaael</p>
      <button>Details...</button>
    </div>
  </div>
  <div class="product-container product-two box-green">
    <div class="icon">
      <img src="/images/product2-white.png"></img>
    </div>
    <div class="product-text">
      <h3>product 2</h3>
      <p>Dit is een mooie tekst. Ik heb zin in bananen. witte en rode.... radijsjes... bananen.. chinees. frikandel</p>
      <button>Details...</button>
    </div>
  </div>
</div>
<div class="products">
  <div class="product-container product-three box-lgreen">
    <div class="icon">
      <img src="/images/product3-white.png"></img>
    </div>
    <div class="product-text">
      <h3>product 3</h3>
      <p>Dit is een mooie tekst</p>
      <button>Details...</button>
    </div>
  </div>
  <div class="product-container product-three box-blue">
    <div class="icon">
      <img src="/images/product4-white.png"></img>
    </div>
    <div class="product-text">
      <h3>product 4</h3>
      <p>Dit is een mooie tekst</p>
      <button>Details...</button>
    </div>
  </div>
  <div class="product-container product-three box-yellow">
    <div class="icon">
      <img src="/images/product5-white.png"></img>
    </div>
    <div class="product-text">
      <h3>product 5</h3>
      <p>Dit is een mooie tekst. Meerkat is cool. lsakdjflaksdj flkajsdfl kjasdlfk jasdlkfj asdf asdf asdf asdf </p>
      <button>Details...</button>
    </div>
  </div>
</div>
