<div class="container">
<h2>Our products are awesome!</h2>
<div class="products">
  <div class="product-two">
    <div class="product-container box-blue">
      <img src="/images/product1-white.png"></img>
      <h3>product 1</h3>
      <p>Dit is een mooie tekst</p>
      <p><button>Details...</button></p>
    </div>
  </div>
  <div class="product-two">
    <div class="product-container box-orange">
      <img src="/images/product2-white.png"></img>
      <h3>product 2</h3>
      <p>Dit is een mooie tekst</p>
      <p><button>Details...</button></p>
    </div>
  </div>
</div>

<div class="products">
  <div class="product-three">
    <div class="product-container box-lgreen">
      <img src="/images/product3-white.png"></img>
      <h3>product 3</h3>
      <p>Dit is een mooie tekst</p>
      <p><button>Details...</button></p>
    </div>
  </div>
  <div class="product-three">
    <div class="product-container box-green">
      <img src="/images/product4-white.png"></img>
      <h3>product 4</h3>
      <p>Dit is een mooie tekst</p>
      <p><button>Details...</button></p>
    </div>
  </div>
  <div class="product-three">
    <div class="product-container box-yellow">
      <img src="/images/product5-white.png"></img>
      <h3>product 5</h3>
      <p>Dit is een mooie tekst</p>
      <p><button>Details...</button></p>
    </div>
  </div>
</div>
