<div class="container">
<h2>Our products are awesome!</h2>
<div class="products">
  <div class="product-two">
    <div class="product-container">
      product 1
    </div>
  </div>
  <div class="product-two">
    <div class="product-container">
      product 2
    </div>
  </div>
</div>

<div class="products">
  <div class="product-three">
    <div class="product-container">
    product 3
    </div>
  </div>
  <div class="product-three">
    <div class="product-container">
    product 4
    </div>
  </div>
  <div class="product-three">
    <div class="product-container">
    product 5
    </div>
  </div>
</div>
</div>
